<!-- 

<section>
    <table class="list_train">
        <caption><strong> Movie List</strong></caption>
        <thead>
            <tr>
                <th id="sno">#</th>
                 <th id="imageUrl">image_url</th> 
                <th id="movie name">movie Name</th>
                <th id="language">language</th>
                <th id="price">price</th>
                <th id="status">Status</th>
                <th id="action">Actions</th>
            </tr>
        </thead>

        <tbody id="listTrainDataAdm">
             <tr *ngFor="let trainAdm of trainListAdm">
                <td>{{movie.sno}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.language}}</td>
                <td>{{movie.price}}</td>
                <td>{{movie.status}}</td>
                <td>{{trainAdm.destnationStation}}</td>
                <td>{{trainAdm.arrival}}</td>
                <td>{{trainAdm.depart}}</td> 
                 <td>{{trainAdm.status}}</td> 
                <td>{{movie.action}}</td>


             </tr>   
        </tbody>
    </table>
    <br>
    <br> -->