<div class="moviesPage">
    <h1>
        <u>Theatres</u>
    </h1><br>
    <a href="book.html"><img class = "movielogo1" src="assets/images/s.jpg" alt="no image"></a>
    Sangam Cinemas 4K RGB Laser Dolby Atmos
Chennai<br>

<a href="book.html"><img class = "movielogo1" src="assets/images/d.jfif" alt="no image"></a>
Devi Cineplex 4K RGB Laser Dolby Atmos
Chennai<br>
<a href="book.html"><img class = "movielogo1" src="assets/images/kasi.jpg" alt="no image"></a>
Kasi Threatre 4K RGB Laser Dolby Atmos
Chennai<br>
<a href="book.html"><img class = "movielogo1" src="assets/images/vettri.jfif" alt="no image"></a>
Kasi Threatre 4K RGB Laser Dolby Atmos
Chennai<br>

        
    
</div>
    <div class="filter">
        <h1>Filter By</h1>
     <a href="#">Clear</a>
    
             <label>
            <h3>Experience</h3>
        
            <input type="checkbox"  name="type"    id="experience" value="Dolby Atmos"
            style="margin-top: 15px;">Dolby Atmos
            </label>
            <br>
            <label>
            <input type="checkbox"  name="type"  id="experience"    value="2K"
            style="margin-top: 15px;">2K<br>

            </label>
            <label>
            <input type="checkbox"  name="type" id="experience" value="4k"
            style="margin-top: 15px;">4K
            </label><br>
            <button type="button">Apply</button>
    
        
    </div>