.lo{
    
    text-align: center;
    padding-right: 10px;
    margin-bottom: 500px;
    padding-top: 0px;
    font-style: italic;
    }
    form {border: 3px solid #f1f1f1;}
    img.avatar {
        /* width: 20%; */
        border-radius: 50%;
        height: 90px;
      }
      /* button */
      
input[type=text], input[type=password]   
{
    width: 100%;
    padding:15px;
    margin:5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
 button 
input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
 } 
hr{
    border: 1px solid #f1f1f1;
}
button:hover{ 
opacity: 1;
}
.login{
    width: 100%;
    height: 5%;
    background-color: green;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width:300px) {
    .cancelbtn, .SignUpbtn {
        width: 100%;
    }
}
span.psw {
    float: right;
    padding-top: 16px;
    display: block;

  }
  #date, #nooftickets, #time, #username, #email, #password, #password-repeat, #password1
  {
      width: 100%;
      padding: 10px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      box-sizing:border-box;

  }
  .box1{
    margin-top: 20px;
    padding: 30px;
    float: left;
    border: 2px solid red;

}
  /* To fix content in correct place  */
  .clearfix::after{
    content: "";
    clear: both;
display: table;
/* overflow:auto; */
}
.container{
    padding: 16px;
    width: 30%;
    height: auto;
    background-origin: padding-box;
    background-color:gainsboro;
    /* border: black */
    margin : 0 auto;
    display: block;

}
.cancelbtn{ 
    background-color:red; 
     padding: 14px 20px; 
 } 