<h1>
    <u class="moviesHead">Movies</u>
</h1><br>

<div class="moviesPage">

</div>
<div class="filter">
    <h1>Filter By</h1>
    <a href="#">Clear</a>

    <h3 id="Language">Language</h3>
    <!-- <form onsubmit="tamil()"> -->
    <label><br>
        <input type="checkbox" name="language" id="language" value="tamil" style="margin-bottom: 15px;">Tamil
    </label>
    <label><br>
        <input type="checkbox" name="language" id="language" value="english" style="margin-bottom: 15px;">English
    </label><br>
    <button type="button" onclick="filterLanguages()">
        Apply
    </button>
    <button type="reset" >
        reset
    </button>
</div>