<header id="header">

</header>
<h3>im in product</h3>



<div class="productContainer" id="productContainer">
    
    <!-- <form (ngSubmit)="add-movie()">

            
        <div class="field">
            <input type="text" required autocomplete="off" id="movieName" name="movieName" [(ngModel)]="movieName" >
            <label for="movieName" title="movieName "></label>
        </div> -->
        <!-- <div class="field">
            <div class="">
                <input type="number" required autocomplete="off" id="productPrice" placeholder="Price" name="productPrice" [(ngModel)]="productPrice"> 
                <label for="productPrice" title="productPrice"></label>
            </div>
        </div>
        <div class="field">
            <input type="file" (change)="onFileUpload($event)" required autocomplete="off" id="productImage" name="productImage" [(ngModel)]="productImage">
            <label for="productImage" title=""></label>
        </div>
        <div class="field">
            <input type="number" required autocomplete="off" id="productQuantity" name="productQuantity" [(ngModel)]="productQuantity">
            <label for="productQuantity" title="Quantity"></label>
        </div>
        <div class="field">
            <input type="text" required autocomplete="off" id="productDescription" name="productDescription" [(ngModel)]="productDescription">
            <label for="productDescription" title="productDescription"></label>
        </div>
        <button type="submit">Add product</button>

    </form>
</div> -->



<!-- <script src="Assets/js/jquery.min.js"></script>
<script src="Assets/js/index.js"></script>
<script src="Assets/js/product.js"></script> -->